{{>partials/header}}

<h1>Editar Usuário</h1>

<form action="/editar/{{id}}" method="post">

    Nome:<br>
    <input type="text" id="name" name="name" value="{{user.nome}}" ><br>
    Email:<br>
    <input type="email" id="email" name="email" value="{{user.email}}"><br><br>
    <input type="submit" value="Cadastrar">
    
</form>

👉<a href="/usuarios">Clique aqui</a> para voltar a página de usuarios


{{>partials/footer}}