{{>partials/header}}


<a href="/cadastrar">Adicionar Usuário</a>

<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>AÇÕES</th>
    </tr>

    {{#users}}

    <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
        <td>
            <a href="/editar/{{id}}"><img src="images/editar.png" alt="lapis" width="20px"></a>
            <a href="/excluir/{{id}}" onclick="return confirm('Tem certeza que deseja excluir?')"><img src = "images/excluir.png" alt="lixeira" width="20px"></a>
        </td>
    </tr>

    {{/users}}

</table>

{{>partials/footer}}