{{>partials/header}}


<a href="/cadastrar">Adicionar Usuário</a>

<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>AÇÕES</th>
    </tr>

    {{#users}}

    <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
        <td>
            <a href="/editar/{{id}}">[ Editar ]</a>
            <a href="/excluir/{{id}}">[ Excluir ]</a>
        </td>
    </tr>

    {{/users}}

</table>

{{>partials/footer}}